:root {
    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --SoftBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --white: hsl(0, 0%, 100%);
}

html, body {
    font-family: Outfit;
}

body {
    background-color: hsl(217, 54%, 11%);
}

.card-container {
    box-sizing: content-box;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25%;
    background: var(--cardBG);
    box-shadow: 0px 2px 15px 5px hsl(216deg 52% 8%);
    border-radius: 15px;
    padding: 1.3rem 1.3rem;
}
.img-container {
    position: relative;
    width: 100%;
}
.card-img {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: .5s;
    background-color: rgba(0, 255, 247, 0.5); /* --cyan with opacity*/
    opacity: 0;
    border-radius: 10px;
    cursor: pointer;
}
.img-container:hover .img-overlay { /*makes overlay color and icon visible*/
    opacity: 1;
}
.img-hover-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.nft-title {
    color: white;
    padding-top: 1.2rem;
    margin: 0;
}
.nft-title:hover {
    cursor: pointer;
    color: var(--cyan);
}


.nft-description-text {
    font-size: 18px;
    font-weight: 300;
    color: var(--SoftBlue);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
}

.price-time-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons{
    height: 18px;
    align-self: center;
    margin-right: 0.3rem;
}

.time-container{
    display: inline-flex;
    justify-content: end;
}
.time-container p {
    align-self: center;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

.price-container{
    display: flex;
    justify-content: start;
}
.price-container p {
    font-weight: bold;
    color: hsl(178, 100%, 50%);
}

hr {
    width: 100%;
    border: 1px solid var(--line);
    border-radius: 10px;
}

.credits {
    display: flex;
    align-items: flex-end;
}
.credits img {
    border: 1px solid white;
    border-radius: 50%;
    max-height: 30px;
    max-width: 30px;
    align-self: center;
}
.credits p {
    align-self: center;
    font-size: 14px;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    margin-left: 10px;
}
.credits > p > span {
    color: white;
    font-weight: 400;
}
.credits > p > span:hover {
    cursor: pointer;
    color: var(--cyan);
}

footer {
    position: relative;
    bottom: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    color: white;
}
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width:375px) {
    .card-container {
        max-width: 80%;
    }
}